.foodmenu .card-title{
    font-size: 1.5rem;
    color: #3b016e;
    transition: 0.5s;
}
.card-title:hover{
    color: #ac93c2;
}

.foodmenu{
    border-radius: 13px;
  margin: 20px;
  width: 13rem;
  transition: 0.5s;
  border: 1px solid #8e2de2;
  text-align: center;
  padding: 10px;
  flex-wrap: wrap;
}
.foodmenu:hover{
  transform: 
  scale(1.1);
  box-shadow: 0 0 10px #8e2de2;
}
.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.del:hover{
  color : red;
}